
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*---some common css style---*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1280px;
}

img {
    max-width: 100%;
}


:root {
    --primary-color: (black);
    --secondary-color: rgba(0, 0, 0, 0.5);
    --third-color: rgba(233, 90, 8, 1);
    --primary-font-family: Noto-Serif;
    --secondary-font-family: Inter;
}

/*---navbar item css---*/

.nav-banner-items {
    max-width: 1140px;
    margin: 0 auto;
}

.logo {
    padding-top: 20px;
}

.logo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items {
    display: flex;
    gap: 48px;
}

.navbar ul  {
    display: flex;
    gap: 48px;
    padding-top: 35px;
    font-family: var(--secondary-font-family);
    list-style: none;
    
}
.navbar ul li a{
    text-decoration: none;
}

.cart-icon {
    gap: 10px;
    padding-top: 35px;
    display: flex;
}

.dollar {
    font-family: var(--secondary-font-family);
}

#home {
    color: #252432;
}

.Two-item {
    color: #8987A1;
}

/*-----Banner part css-----*/
.full-banner {
    display: flex;
    justify-items: center;
    align-items: center;

}

.flowers-details {
    max-width: 550px;
    margin-top: 270px;
}

.banner-title {
    font-weight: 700px;
    font-family: var(--primary-font-family);
    color: var(--primary-color);
    font-size: 4rem;
}

.fresh {
    color: var(--third-color);
}

.banner-para {
    font-family: var(--secondary-font-family);
    color: var(--secondary-color);
    font-size: 1.37rem;
}

.flower-img {
    margin-top: 170px;
}

/*-----Our Plants Css start-----*/
main {
    max-width: 1140px;
    margin: 0 auto;
}

.our-plants {
    justify-items: center;
    align-items: center;
    margin-top: 120px;
}

.plant {
    font-weight: 700px;
    font-family: var(--primary-font-family);
    color: var(--primary-color);
    font-size: 3rem;
}

.our {
    color: var(--third-color);
}

.beauty {
    font-family: var(--secondary-font-family);
    color: var(--secondary-color);
    font-size: 1.37rem;
    max-width: 888px;
    text-align: center;
    margin-top: 16px;
}
.total-cart{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.cart{
    max-width: 270px;
    margin-top:49px;
    gap:20px;
    display:flex;
    flex-direction: column;
    
}

.lilly{
     font-family: var(--secondary-font-family);
    color:#111111;
    font-size: 1.37rem;
    font-weight: 500px;
    
}
.amount{
        font-family: var(--secondary-font-family);
    color:#111111;
    font-size: 1.37rem;
    font-weight:700px;
    margin-top: 15px;
}
.price{
    text-align: center;
    margin:30px 0;
}
.primary-btn{
    background-color:var(--third-color);
    color:white;
    font-weight: 600px;
    font-family:var(--secondary-font-family);
    padding:19px 0;
    border:none;
}

/*-----Plants Lover Section Css start-----*/
 .plants-lover{
    display:flex;
    margin-top: 210px;
    gap:60px;
    
 }
 .badge{
    max-height:280px;
    max-width:280px;
   position:absolute;
   right:560px;
   transform: translateY(-128px);
 }
 .flower-title{
    font-family: var(--primary-font-family);
    font-weight:700px;
    font-size:3.1rem;
    color:var(--primary-color);
    margin-top: 38px;
 }
 .flower-description{
    max-width: 50%;
 }
.flower-line{
    font-family: var(--secondary-font-family);
    font-size:1.37rem ;
    color:var(--secondary-color);
    padding-left:35px;
    margin-top:20px;
    max-width: 540px;
}
@media screen and (max-width:576px) {

    .navbar ul {
        display: none;
    }
     
    .logo-item {
        padding: 0 15px;
    }

    .flower-img {
        width: 100%;
    }

    .full-banner {
        flex-direction: column-reverse;
    }

    .flowers-details {
        margin-top: 60px;
        margin-left: 15px;
    }

    .banner-para {
        margin-top: 20px;
    }

    .our-plants{
        align-items: center;
    }
    .beauty,.store,.flower-description{
        padding:0 15px;
    }
    .total-cart{
        grid-template-columns: repeat(2,1fr);
         padding:0 15px ;   
        gap:10px;
    }
    .plants-lover{
        flex-direction: column;
        margin-top: 45px;
    }
    .badge{
        display:none;
    }
    .flower-description{
        max-width:100%;
    }
}